.play-container {
    @include flexCenter(column);
    justify-content: space-between;
    height: 100%;

    background-color: $backgroundColor;

    h1 {
        margin-bottom: 0;
    }

    .play-buttons {
        margin-bottom: 24px;
        max-width: 300px;
        width: 74%;
        height: 100px;
        @include flexCenter(row);
        justify-content: space-between;
    }
}