.question-card {
    margin: 20px;
    padding: 20px;
    max-width: 240px;
    height: 360px;
    border-radius: 20px;

    @include flexCenter(column);
    justify-content: space-between;

    // Shadow
    box-shadow: 5px 6px 22px -9px rgba(0, 0, 0, 0.61);

    background-color: $cardBackground;

    .penalization-container {
        width: 100%;
        @include flexCenter(row);
        justify-content: flex-end;
    }

    .type-container {
        width: 100%;
        @include flexCenter(row);
        justify-content: flex-start;
    }

    h3 {
        font-size: 1.4em;
        font-weight: 600;
    }
}

.death {
    border: 8px solid $deathBorder;
}

.hard {
    border: 8px solid $hardBorder;
}

.medium {
    border: 8px solid $mediumBorder;
}

.easy {
    border: 8px solid $easyBorder;
}
