// Background gradient
$backgroundColor: #F7F8F4;

//Buttons
$buttonBorder: #743EA5;
$buttonBackground: #9A68C7;
$buttonHoverBackground: #8A58B7;
$buttonClickBackground: #9A68C7;
$buttonText: #FFF;

$buttonShadow: rgba(0,0,0,.8);
$buttonInsetBlackShadow: rgba(0,0,0,.15);
$buttonInsetWhiteShadow: rgba(255,255,255,.4);

$buttonHoverShade1: #472566;
$buttonPushedShade1: #472566;
$buttonPushedShade2: #390668;
$buttonPushedShade3: #682CA0;



// Cards
$easyBorder: #fcbf49;
$mediumBorder: #f77f00;
$hardBorder: #d62828;

$cardBackground: #F0F1EA;